<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="D:\home\Python311\python.exe"
                  arguments="-m gunicorn --bind=0.0.0.0:%HTTP_PLATFORM_PORT% --workers=4 --timeout=600 --worker-class=uvicorn.workers.UvicornWorker --log-level debug --error-logfile D:\home\LogFiles\gunicorn-error.log --access-logfile D:\home\LogFiles\gunicorn-access.log app:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="D:\home\LogFiles\python.log"
                  startupTimeLimit="300">
      <environmentVariables>
        <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
        <environmentVariable name="PATH" value="D:\home\Python311;D:\home\Python311\Scripts;%PATH%" />
        <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>
